<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-secondary rounded welcome-banner">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Hash Dash</h1>
    <p class="lead fw-normal">Weed. Delivered to your door.</p>
    <%= link_to 'Start Order', products_path, class: "btn btn-outline-secondary mt-5 w-25" %>
    <br>
    <%= link_to 'How it Works', products_path, class: "btn btn-outline-secondary mt-3 w-25" %>
  </div>
</div>

<div class="p-3 p-md-5 m-md-3 bg-secondary rounded welcome-banner mt-5">
  <%= image_tag('hand-delivery.jpg', id: "hand-delivery-img") %>
  <div class="col-md-5 p-lg-5" id="how-it-works-words">
    <h1 class="display-4 fw-normal">How It Works</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
</div>