<%= turbo_frame_tag dom_id(@product) do %>
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><%= @product.name.capitalize %></h2>
        <%= form_with model: @order, class: "ms-5" do |f| %>
          <% if @product.type == 'Flower' %>
            <div class="row mt-4">
              <div class="col">
                <h4 class="text-secondary">Quality</h4>
                <div class="btn-group" role="group" aria-label="Flower Quality">
                  <%#= po.radio_button :quality %>
                  <input type="radio" class="btn-check" name="order[quality]" id="flower-quality-low" autocomplete="off">
                  <label class="btn btn-outline-primary" for="flower-quality-low">Low</label>

                  <input type="radio" class="btn-check" name="order[quality]" id="flower-quality-med" autocomplete="off">
                  <label class="btn btn-outline-primary" for="flower-quality-med">Medium</label>

                  <input type="radio" class="btn-check" name="order[quality]" id="flower-quality-high" autocomplete="off">
                  <label class="btn btn-outline-primary" for="flower-quality-high">High</label>
                </div>
              </div>
              <div class="col">
                <h4 class="text-secondary">Amount</h4>
                <div class="btn-group" role="group" aria-label="Flower Quality">
                  <input type="radio" class="btn-check" name="order[flower-quality]" id="flower-quantity-1-gram" autocomplete="off">
                  <label class="btn btn-outline-primary" for="flower-quantity-1-gram">1 Gram</label>

                  <input type="radio" class="btn-check" name="order[flower-quality]" id="flower-quantity-2-grams" autocomplete="off">
                  <label class="btn btn-outline-primary" for="flower-quantity-2-grams">2 Grams</label>

                  <input type="radio" class="btn-check" name="order[flower-quality]" id="flower-quantity-eighth" autocomplete="off">
                  <label class="btn btn-outline-primary" for="flower-quantity-eighth">3.5 Grams</label>

                  <input type="radio" class="btn-check" name="order[flower-quality]" id="flower-quantity-quarter" autocomplete="off">
                  <label class="btn btn-outline-primary" for="flower-quantity-quarter">7 Grams</label>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>