$blue-1: #184e77;
$blue-2: #1e6091;
$blue-3: #1a759f;
$blue-4: #168aad;

$green-1: #34a0a4;
$green-2: #52b69a;
$green-3: #76c893;
$green-4: #99d98c;
$green-5: #b5e48c;
$green-6: #d9ed92;

$grey-1: #6c757d;

$white: #fff;
$black: #212529;