@import "bootstrap";
@import "bootstrap_overrides";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  font-family: 'Secular One', sans-serif;
  //background-color: $green-2;
}

.welcome-banner {
  height: 91vh;
  background: linear-gradient(
                  86deg,
                  $green-1,
                  $green-4
  );
}

.header-gradient {
  background: linear-gradient(
                  86deg,
                  darken($blue-1, 5%),
                  lighten($blue-1, 5%)
  );
}

.product-card {
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 4px 4px 2px 4px $blue-1;
  }
}


#hand-delivery-img {
  border-radius: 20px;
  width: 522px;
  height: 400px;
  display: inline-block;
}

#how-it-works-words {
  display: inline-block;
}
